
/* Schedule
================================================== */

.schedule-tab,
.schedule-content .container {
    max-width: 960px;
    margin: 0 auto;
}
.schedule-tab .nav-tabs {
    text-align: center;
    margin-bottom: 40px;
}
.schedule-tab .nav-tabs > li {
    float: none;
    zoom: 1;
}
.schedule-tab .nav-tabs > li > a {
    color: #fff;
    background: #939498;
    border-radius: 3px;
    padding: 13px 30px;
    margin: 0 2px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.schedule-tab .nav-tabs > li.active > a {
    background: #C71E49;
    color: #fff;
}
/* Schedule listing */

.schedule-date {
    font-size: 24px;
    margin-bottom: 40px;
    color: #C71E49;
    text-align: center;
}
.schedule-listing {
    padding: 25px 40px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
}
.schedule-listing.bg {
    background: #f5f5f5;
}
.schedule-slot-time {
    width: 20%;
    float: left;
    font-weight: 700;
}
.schedule-slot-info {
    width: 80%;
    display: inline-block;
}
.schedule-slot-speakers {
    width: 58px;
    height: 58px;
    border-radius: 5px;
    position: absolute;
    top: 15;
    overflow: hidden;
    object-fit: cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.schedule-slot-info-content {
    margin-left: 100px;
}
.schedule-slot-speaker-name {
    color: #C71E49;
    margin: 0;
    font-size: 16px;
}
.schedule-slot-title {
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
}

#ts-schedule .section-heading{
  text-shadow:
        3px 3px 0 #C71E49,
     -1px -1px 0 #C71E49,
      1px -1px 0 #C71E49,
      -1px 1px 0 #C71E49,
       1px 1px 0 #C71E49;
       color: white;
       padding-bottom: 2rem;
       text-align: center;
}

.nav-tabs{
  right: 0;
  margin:auto;
  align-items: center;
  display: block;
  border-bottom: none;
}

.schedule-slot-lugar{
  color: #398550;
  font-weight: bold;
}
.schedule-slot-speaker-place {
    color: #C71E49;
    margin: 0;
    font-weight: 100;
    font-size: 12px;
}

.schedule-listing.important {
    background: #398550;
    color: white;
}

.schedule-slot-title.conferencia-magistral{
    background-color: #C71E49;
    color: white;
    padding: 5px;
}


/* MOBILE VERSION */

@media only screen and (max-width: 600px) {
    .schedule-slot-time{
      width:  100%;
    }
    .schedule-slot-info-content{
      margin-left: 0px;
    }
    .schedule-slot-desc{
      text-align: justify;
      font-size: 10px;
    }
    .schedule-slot-info{
      width: 100%;
    }
    .schedule-slot-speakers {
        position: relative;
        margin: 10px;
    }
    .schedule-date {
        font-size: 18px;
    }
    .schedule-slot-speaker-name {
        font-size: 15px;
    }
    .schedule-slot-speaker-place{
      font-size: 10px;
    }
    .schedule-slot-title {
        font-size: 18px;
    }
}

/*GANADORES*/

#Ganadores{
    background: #C71E49;
    background: -webkit-linear-gradient(135deg, #C71E49, #7C2979, #398581);
    background: -o-linear-gradient(135deg, #C71E49, #7C2979, #398581);
    background: linear-gradient(135deg, #C71E49, #7C2979, #398581);
    color: white;
    font-size: 30px;
    font-weight: bold;
}
#Recordatorio{
    color: grey;
    margin-bottom: 40px;
    font-family: monospace;
    font-size: 20px;
}

#GanadoresAplicacionesBasicas{color: #C71E49;}
#GanadoresAplicacionesAvanzadas{color: #7C2979;}
#GanadoresHardwareYRobotica{color: #398581;}